body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 22px;
}

.container {
  width: 680px;
  padding: 20px 60px;
  margin: 0 auto;
}

a {
  color: #00759D;
  text-decoration: none;
}

a:hover {
  color: #005c7b;
}

h1, h2 {
  margin: 0;
}

img {
  width: 100%;
  margin: 10px 0;
}

h1.title {
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
  float: left;
}

header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #00759D;
  margin-bottom: 40px;
}

nav {
  display: inline-block;
  float: right;
}

nav a {
  font-weight: 300;
  margin-left: 20px;
}

p.date {
  font-size: 14px;
  margin: 6px 0;
}

.post {
  margin-bottom: 60px;
}

ul.posts {
  list-style-type: none;
  padding: 0;
  line-height: 28px;
}


/* Media Queries */

@media (max-width: 800px) {
  .container {
    width: 90%;
    padding: 10px 0;
  }
}