---
layout: default
title: Scott Weisman
---

<!-- <div id="home">
  <div class="posts">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> <span>{{ post.date | date_to_string }}</span></li>
      {{ post.excerpt }}
    {% endfor %}
  </ul>
</div> -->


<section id="posts">
	{% for post in site.posts %}
    <article class="post">
      <section class="title">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="date">{{ post.date | date: '%B %e, %Y' }}</p>
      </section>
      <section class="content">
        {{ post.content }}
      </section>
      <!-- <div class="more"><a href="<#%= article.path %>">Read More &raquo;</a></div> -->
    </article>
  {% endfor %}
</section>